body {
    font-family: Arial, sans-serif;
    background-color: #f8e8f2;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #966293;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}
.nav a:not(:first-child) {
    border-left: 1px solid #e6dcdc; 
    padding-left: 15px; 
}

.content {
    text-align: center;
    padding: 20px;
}

.content h1 {
    color: #4b0082;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item p {
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    font-weight: bold;
}
